<% title 'Список преподавателей' %>

<div class="page-header">
  <h3>Список преподавателей</h3>
</div>

<% cache do %>
    <% @teachers_by_letter.each do |key, value| %>
        <div class="panel panel-info">
          <div class="panel-heading">"<%= key %>"</div>
          <ul class="list-group">
            <% value.each do |entity| %>
                <li class="list-group-item"><%= link_to entity.full_name, {:controller => 'teachers', :action => 'schedule', :id => entity.id} %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>