<% title 'Список групп' %>

<div class="page-header">
  <h3>Список групп</h3>
</div>

<% cache do %>
  <% @groups_by_start_year.each do |key, value| %>
      <div class="panel panel-info">
        <div class="panel-heading"><%= key %> год</div>
        <ul class="list-group">
          <%= render value, cache: true %>
        </ul>
      </div>
  <% end %>
<% end %>