<%= form_for(@user, :url => 'update', :html => {:method => :put}) do |f| %>
    <div class="form-group">
      <%= f.label :group_id, 'Ваша группа' %>
      <%= f.collection_select(:group_id, Group.order(:name).where(archive: false), :id, :name, {}, {:class => 'form-control'}) %>
    </div>

    <%= f.submit(:value => 'Сохранить', :class => 'btn') %>
<% end %>