doctype html
html
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    title = yield(:title)
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  body
    .navbar.navbar-fixed-top.navbar-default
      .container
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li = link_to 'Ваше расписание', { :controller => 'pages', :action => 'start' }
            li = link_to 'Список групп', { :controller => 'groups', :action => 'index' }
          ul.nav.navbar-nav.navbar-right
            li
              li = link_to 'Изменение настроек', { :controller => 'user', :action => 'edit' }
    .container
      - if flash[:notice]
        .alert.alert-info= flash[:notice]
      = yield

      hr

      footer
        p.text-center
          | БФ ПНИПУ

    = javascript_include_tag 'application'
    | <script src="//vk.com/js/api/xd_connection.js?2"></script>
      <script>
          VK.init(function () {
              VK.callMethod("resizeWindow", 800, $('body').height() + 100);
          }, function () {
          }, '5.3');
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45614097-1', 'cravs.com');
        ga('send', 'pageview');
      </script>